#table_id {
    background: #fdfdfe;
    color: black;
    margin-top: 8px;
}

#antibody_Table {
    width: 30%;
    height: 100px;
}

i {
    cursor: pointer;
}

td.details-control {
    padding-left: 32px;
    position: relative;
}

td.details-control:before {
    position: absolute;
    font-family: FontAwesome, serif;
    font-weight: 400;
    top: 15%;
    left: 15%;
    content: "\f0fe";
    cursor: pointer;
}

tr.shown td.details-control {
    padding-left: 32px;
    position: relative;
}

tr.shown td.details-control:before {
    position: absolute;
    font-family: FontAwesome, serif;
    font-weight: 400;
    top: 15%;
    left: 15%;
    content: "\f146";
    cursor: pointer;
}

#table_reload {
    left: 30%;
}






