body {
    background: url("../images/minimal_dark_wallpaper_by_zeconcept.jpg") center;
    background-size: cover;
}

#schematic {
    position: relative;
    top: 16%;
    height: 37%;
    width: auto;
}

#icon {
    width: 30px;
    height: 30px;
}

area {
    cursor: pointer;
}

input.button {
    cursor: pointer;
}

#login {
    color: black;
}

#editModal {
    text-align: left;
    color: black;
}

#deleteModal {
    color: black;
}

#newModal {
    text-align: left;
}

.capbox {
    background-color: #b9b9b9;
    border: #e5e5e5 solid;
    border-width: 0 12px 0 0;
    display: inline-block;
    *display: inline;
    zoom: 1; /* FOR IE7-8 */
    padding: 8px 40px 8px 8px;
}

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    background-color: #e5e5e5;
    margin: 5px auto 0 auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.modalcontrol {
    color: red;
}

#history_table_id {
    background: #fdfdfe;
    color: black;
    margin-top: 8px;
    /*width: 100%;*/
}

#userTableColumn {
    background: #fdfdfe;
}

#suggestionCollumn {
    margin-top: 8px;
}

#historyTableColumn {
    background: #fdfdfe;
}

#historyTableColumn {
    margin-top: 8px;
}

.btn-lg {
    position: relative;
    border-radius: 10px;
    padding: 100px 150px;
    font-size: 60px;
    margin: 50px;
}