<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../static/images/AntibodyLogo.png" th:href="@{/images/AntibodyLogo.png}"/>

    <!-- css resources -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/datatables.net-responsive-bs/2.2.1/css/responsive.bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css"/>
    <link rel="stylesheet" th:href="@{/css/antibody_table.css}" href="../static/css/antibody_table.css"/>

    <!-- javascript imports -->
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/jquery.dataTables.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.16/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/webjars/datatables.net-buttons/1.4.2/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/webjars/datatables.net-select/1.2.3/js/dataTables.select.min.js}"></script>

</head>

<body>

<!-- Navbar for the top of the screen -->
<div class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav-bar">
    <a class="navbar-brand" href="#">
        <img src="../static/images/AntibodyLogo.png" th:src="@{/images/AntibodyLogo.png}"
             class="d-inline-block align-top" alt="" id="icon"/>iEAR</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown" th:fragment="options">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" th:fragment="dropdown">

                    <a class="dropdown-item" href="#" id="table_reload">Reload table</a>
                    <a class="dropdown-item" href="#" id="suggest">Send Suggestion</a>
                    <div th:if="${#httpServletRequest.isUserInRole('USER')}">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="new_antibody">Insert new Antibody</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('ADMIN')}" href="admin.html">Admin</a>
            </li>
        </ul>

        <div id="login">

            <div th:if="${#httpServletRequest.isUserInRole('USER')}">
                <form th:action="@{'/logout'}" method="post">
                    <label><b th:inline="text">User: [[${#httpServletRequest.remoteUser}]] </b></label>
                    <input class="button" type="submit" value="Sign Out"/>
                </form>
            </div>
            <div th:unless="${#httpServletRequest.isUserInRole('USER')}">
                <form action="#" th:action="@{'/home'}" method="post">
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required="required"/>
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required="required"/>
                    <input class="button" type="submit" value="Login"/>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal used for small messages such as confirms -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="messageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">Close</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal used for backup confirm -->
<div class="modal fade" id="backupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="backupModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backupModalLabel">Backup Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Backup Current Database?

            </div>
            <div class="modal-footer">
                <a href="#" id="backupYes" class="btn danger">Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal used for loading from backup -->
<div class="modal fade" id="backupLoadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="backupLoadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Backup Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Backup Current Database?

            </div>
            <div class="modal-footer">
                <a href="#" id="loadBackupYes" class="btn danger">Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Javascript imports -->
<div th:fragment="javascriptHome">
    <script type="text/javascript" charset="utf-8" th:src="@{/js/AntibodyTable.js}"
            src="../static/js/AntibodyTable.js"></script>
    <script th:if="${#httpServletRequest.isUserInRole('USER')}" type="text/javascript" charset="utf-8"
            th:src="@{/js/AntibodyModalControl.js}"
            src="../static/js/AntibodyModalControl.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/SuggestionForm.js}"
            src="../static/js/SuggestionForm.js"></script>
    <script th:if="${#httpServletRequest.isUserInRole('USER')}" type="text/javascript" charset="utf-8"
            th:src="@{/js/TicketControl.js}" src="../static/js/TicketControl.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/ImageMapControl.js}"
            src="../static/js/ImageMapControl.js"></script>
</div>

<div th:fragment="javascriptAdmin">
    <script type="text/javascript" charset="utf-8" th:src="@{/js/UserTable.js}"
            src="../static/js/UserTable.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/UserModalControl.js}"
            src="../static/js/UserModalControl.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/HistoryTable.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/Admin.js}"
            src="../static/js/Admin.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/js/SupplierModalControl.js}"
            src="../static/js/SupplierModalControl.js"></script>
</div>
</body>
</html>