<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Something went wrong!</h1>
<p th:text="${errorMessage}"></p>
<h2>Our Engineers are on it</h2>
<h2 style="color:transparent">No we're not!</h2>
<a href="/">Go Home</a>
</body>
</html>